.warning {
    color: red;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.8rem;
    display: flex;
    width: 100%;
}

.biasScore {
    color: gray;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 0.8rem;
    display: flex;
    width: 100%;
}